window {
    background-color: shade(aquamarine, 1.25);
}

button {
    background-image: image(ivory);
}

button:hover {
    background-image: image(shade(ivory, 0.95));
}

button:disabled {
    background-image: image(shade(aquamarine, 1.3));
}

treeview button {
    background-image: image(white);
}
